{% extends "core/base.html" %}
{% load static %}

{% block content %}
<div style="display: flex; justify-content: center; min-height: 100vh;">
  <div style="background-color: #f2f2f2; padding: 20px; border: 1px solid #ccc; border-radius: 5px; text-align: center; max-width: 400px; max-height: 300px; margin-top: 40px;">
    <p><b>Thank you for Booking! </b><br> Our agent will get your work done soon. We appreciate your interest in our services and look forward to assisting you. In the meantime, feel free to explore our website for more information about our offerings.</p>
    <p><b>Explore more <a href="{% url 'services' %}" style="text-decoration: none;">Services</a></b></p>
  </div>
</div>
{% endblock %}














